/* Reset e estilização básica para a área do proprietário */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #0033A0; /* Azul da bandeira dos EUA */
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100px;
}

.login {
  text-align: center;
  margin-top: 50px;
}

.login h1 {
  font-size: 36px;
  color: #D50032;
}

input {
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007BFF; /* Cor de fundo */
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.dashboard {
  margin-top: 50px;
  text-align: center;
}

.dashboard h2 {
  font-size: 32px;
}

.dashboard .btn {
  background-color: #0033A0; /* Azul */
  padding: 15px;
  margin: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.dashboard .btn:hover {
  opacity: 0.8;
}
